controllerHostName="customerdomain.saas.appdynamics.com"
controllerPort=443
controllerSslEnabled=true
accountName="customer1"
accountAccessKey="xxxxxxxxx"
applicationName="Test-App"
tierName="tier"
nodeName="node1"
